.DS_Store
.merlin
**/.bsb.lock
**/npm-debug.log
**/lib/bs/
/node_modules/
/mifkad-assets/js/*
/mifkad-assets/db
**/*.bs.js

/target
**/*.rs.bk
mifkad.exe
/release

current.xls
yarn-error.log
**/.#*
**/.~*