h1 {
  text-align: center;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    font-size: small;
}

.kidlist {
    display: inline-block;
}

.absentlist {
    display: inline-block;
    vertical-align: top;
}

.classlist {
    align-content: center;
}

.capacity {
    text-align: center;
}

.In {
    background-color: green;
}

.Out {
    text-decoration: line-through;
    background-color: red;
}

.room {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.room:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.roomContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.roomletter {
    text-align: center;
}

.roster {
    margin: 0 auto;
    padding: 0;
    align-content: center;
}

