body {
    background-color: #ffffcc;
}

button {
    background-color: #e6f7ff;
    text-decoration: none;
}

h1 {
  text-align: center;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    font-size: small;
}

.kidlist {
    display: inline-block;
}

.absentlist {
    display: inline-block;
    vertical-align: top;
}

.classlist {
    align-content: center;
    display: inline-grid;
}

.capacity {
    text-align: center;
}

.In {
    background-color: #00cc66;
}

.Out {
    text-decoration: line-through;
    background-color: #ff4d4d;
}

.pink_sheet {
    background-color: pink;
}

.no_pink_sheet {
    background-color: #be81f7;
}

.room {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.room:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.roomContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.roomletter {
    text-align: center;
}

.roster {
    margin: 0 auto;
    padding: 0;
    align-content: center;
}

.preview_box {
    display: flex;
    flex-direction: row;
}
